h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #1B1F2B;
  text-align: center;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 59px;
  line-height: 124%;
  color: #1B1F2B;
  text-align: center;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #1B1F2B;
}

.note {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #1B1F2B;
  color: #A6A6A6;
}
.note a {
  color: #1B1F2B;
}
.note a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

.small-bt {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #1B1F2B;
  display: inline-block;
  width: 118px;
  height: 34px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  line-height: 34px;
  white-space: nowrap;
  overflow: hidden;
}
.small-bt:hover {
  background-color: #EFA501;
  color: white;
  cursor: pointer;
}
.small-bt:active {
  background-color: #F8E6BE;
  color: #1B1F2B;
}

.text-bt {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 122%;
  color: #1B1F2B;
  width: 179px;
  height: 42px;
  background-color: #1B1F2B transparent;
  border-radius: 50px;
  padding-left: 20px;
  margin-left: -20px;
  line-height: 42px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}
.text-bt::after {
  content: url("/app/assets/img/arrow.svg");
  position: absolute;
  right: 21px;
  top: 2px;
  margin-left: 16px;
}
.text-bt:hover {
  background-color: #286562;
  cursor: pointer;
}
.text-bt:active {
  background-color: #EFA501;
}

.big-bt_dark {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: white;
  width: 235px;
  height: 58px;
  background-color: #286562;
  border-radius: 10px;
  text-align: center;
  line-height: 58px;
  white-space: nowrap;
  overflow: hidden;
}
.big-bt_dark:hover {
  background-color: #3B7E7B;
  cursor: pointer;
}
.big-bt_dark:active {
  background-color: #627F7E;
}

.big-bt_light {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: #286562;
  width: 235px;
  height: 58px;
  background-color: #E0F0E5;
  border-radius: 10px;
  text-align: center;
  line-height: 58px;
  white-space: nowrap;
  overflow: hidden;
}
.big-bt_light:hover {
  background-color: #F1F3F2;
  cursor: pointer;
}
.big-bt_light:active {
  background-color: #D9DFDB;
}

.socials-bt {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  background-color: #1B1F2B transparent;
  line-height: 142%;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}
.socials-bt:hover {
  cursor: pointer;
  text-decoration: underline;
}
.socials-bt:active {
  color: #EFA501;
  text-decoration: underline;
}

@media screen and (max-width: 360px) {
  .small-bt {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #1B1F2B;
    width: 114px;
    height: 33px;
    line-height: 33px;
  }

  .text-bt {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    width: 123px;
    height: 26px;
    line-height: 26px;
    color: white;
  }
  .text-bt::after {
    right: 1px;
    top: 3px;
    margin-left: 15px;
  }

  .big-bt_dark {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: white;
    width: 134px;
    height: 47px;
    line-height: 47px;
  }

  .big-bt_light {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    width: 134px;
    height: 47px;
    line-height: 47px;
  }

  .socials-bt {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
  }
}/*# sourceMappingURL=buttons.css.map */