@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

a {
  text-decoration: none;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #1B1F2B;
  text-align: center;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 59px;
  line-height: 124%;
  color: #1B1F2B;
  text-align: center;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #1B1F2B;
}

.note {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #1B1F2B;
  color: #A6A6A6;
}
.note a {
  color: #1B1F2B;
}
.note a:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #1B1F2B;
  text-align: center;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 59px;
  line-height: 124%;
  color: #1B1F2B;
  text-align: center;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #1B1F2B;
}

.note {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #1B1F2B;
  color: #A6A6A6;
}
.note a {
  color: #1B1F2B;
}
.note a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

.small-bt {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #1B1F2B;
  display: inline-block;
  width: 118px;
  height: 34px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  line-height: 34px;
  white-space: nowrap;
  overflow: hidden;
}
.small-bt:hover {
  background-color: #EFA501;
  color: white;
  cursor: pointer;
}
.small-bt:active {
  background-color: #F8E6BE;
  color: #1B1F2B;
}

.text-bt {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 122%;
  color: #1B1F2B;
  width: 179px;
  height: 42px;
  background-color: #1B1F2B transparent;
  border-radius: 50px;
  padding-left: 20px;
  margin-left: -20px;
  line-height: 42px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}
.text-bt::after {
  content: url("/app/assets/img/arrow.svg");
  position: absolute;
  right: 21px;
  top: 2px;
  margin-left: 16px;
}
.text-bt:hover {
  background-color: #286562;
  cursor: pointer;
}
.text-bt:active {
  background-color: #EFA501;
}

.big-bt_dark {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: white;
  width: 235px;
  height: 58px;
  background-color: #286562;
  border-radius: 10px;
  text-align: center;
  line-height: 58px;
  white-space: nowrap;
  overflow: hidden;
}
.big-bt_dark:hover {
  background-color: #3B7E7B;
  cursor: pointer;
}
.big-bt_dark:active {
  background-color: #627F7E;
}

.big-bt_light {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: #286562;
  width: 235px;
  height: 58px;
  background-color: #E0F0E5;
  border-radius: 10px;
  text-align: center;
  line-height: 58px;
  white-space: nowrap;
  overflow: hidden;
}
.big-bt_light:hover {
  background-color: #F1F3F2;
  cursor: pointer;
}
.big-bt_light:active {
  background-color: #D9DFDB;
}

.socials-bt {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  background-color: #1B1F2B transparent;
  line-height: 142%;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}
.socials-bt:hover {
  cursor: pointer;
  text-decoration: underline;
}
.socials-bt:active {
  color: #EFA501;
  text-decoration: underline;
}

@media screen and (max-width: 360px) {
  .small-bt {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #1B1F2B;
    width: 114px;
    height: 33px;
    line-height: 33px;
  }

  .text-bt {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    width: 123px;
    height: 26px;
    line-height: 26px;
    color: white;
  }
  .text-bt::after {
    right: 1px;
    top: 3px;
    margin-left: 15px;
  }

  .big-bt_dark {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: white;
    width: 134px;
    height: 47px;
    line-height: 47px;
  }

  .big-bt_light {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    width: 134px;
    height: 47px;
    line-height: 47px;
  }

  .socials-bt {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
  }
}
.tour-constructor {
  width: 100%;
  padding: 70px;
  background-color: white;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tour-constructor label, .tour-constructor p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  margin-bottom: 8px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 30px;
}
.tour-constructor label:last-child, .tour-constructor p:last-child {
  margin-right: 0;
}
.tour-constructor input[type=text], .tour-constructor input[type=textarea], .tour-constructor input[type=tel], .tour-constructor input[type=email], .tour-constructor select {
  width: 100%;
  height: 68px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background-color: #F9F7F4;
  border: 1px #F4F0E9 solid;
  padding: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.tour-constructor input[type=text]::-webkit-input-placeholder, .tour-constructor input[type=textarea]::-webkit-input-placeholder, .tour-constructor input[type=tel]::-webkit-input-placeholder, .tour-constructor input[type=email]::-webkit-input-placeholder, .tour-constructor select::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: #A6A6A6;
}
.tour-constructor input[type=text]::-moz-placeholder, .tour-constructor input[type=textarea]::-moz-placeholder, .tour-constructor input[type=tel]::-moz-placeholder, .tour-constructor input[type=email]::-moz-placeholder, .tour-constructor select::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: #A6A6A6;
}
.tour-constructor input[type=text]:-ms-input-placeholder, .tour-constructor input[type=textarea]:-ms-input-placeholder, .tour-constructor input[type=tel]:-ms-input-placeholder, .tour-constructor input[type=email]:-ms-input-placeholder, .tour-constructor select:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: #A6A6A6;
}
.tour-constructor input[type=text]::-ms-input-placeholder, .tour-constructor input[type=textarea]::-ms-input-placeholder, .tour-constructor input[type=tel]::-ms-input-placeholder, .tour-constructor input[type=email]::-ms-input-placeholder, .tour-constructor select::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: #A6A6A6;
}
.tour-constructor input[type=text]::placeholder, .tour-constructor input[type=textarea]::placeholder, .tour-constructor input[type=tel]::placeholder, .tour-constructor input[type=email]::placeholder, .tour-constructor select::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: #A6A6A6;
}
.tour-constructor input[type=text]:hover, .tour-constructor input[type=textarea]:hover, .tour-constructor input[type=tel]:hover, .tour-constructor input[type=email]:hover, .tour-constructor select:hover {
  background-color: #F4F0E9;
  cursor: pointer;
}
.tour-constructor .select {
  position: relative;
}
.tour-constructor .select::after {
  content: url(/app/assets/img/dropdown.svg);
  pointer-events: none;
  position: absolute;
  top: 21px;
  right: 23px;
  z-index: 1;
}
.tour-constructor select {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: #A6A6A6;
}
.tour-constructor select > option {
  color: #1B1F2B;
}
.tour-constructor textarea {
  width: 100%;
  height: 152px;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background-color: #F9F7F4;
  border: 1px #F4F0E9 solid;
  padding: 20px;
}
.tour-constructor textarea:hover {
  background-color: #F4F0E9;
  cursor: pointer;
}
.tour-constructor .custom-radio-btn {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 26px;
  border: 2px solid #1B1F2B;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 11px;
}
.tour-constructor .custom-radio-btn::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #1B1F2B;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.tour-constructor .origin-btn:checked + .custom-radio-btn::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.tour-constructor .origin-btn {
  /* Скрываем реальную радио кнопку*/
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tour-constructor .custom-check-btn {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 26px;
  border: 2px solid #1B1F2B;
  border-radius: 5px;
  vertical-align: middle;
  margin-right: 19px;
}
.tour-constructor .custom-check-btn::before {
  content: url(/app/assets/img/check.svg);
  display: inline-block;
  width: 12px;
  position: absolute;
  left: 7px;
  bottom: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.tour-constructor .origin-check:checked + .custom-check-btn::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.tour-constructor .origin-check {
  /* Скрываем реальный чекбокс*/
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tour-constructor__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 33px;
}

.age-radio-btn, .license-check-btn {
  margin-bottom: 33px;
}

.form-btn button:first-child {
  margin-right: 30px;
}

@media screen and (max-width: 1024px) {
  .tour-constructor {
    padding: 60px;
  }
  .tour-constructor label, .tour-constructor p {
    margin-right: 20px;
  }
  .tour-constructor label:last-child, .tour-constructor p:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 460px) {
  .tour-constructor {
    padding: 20px 20px 40px 20px;
    border-radius: 30px;
  }
  .tour-constructor .tour-constructor__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    margin-bottom: 30px;
  }
  .tour-constructor .tour-constructor__group > label:first-child {
    margin-bottom: 30px;
  }
  .tour-constructor label, .tour-constructor p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    width: 100%;
    min-width: 278px;
    margin-right: 0;
  }
  .tour-constructor input[type=text], .tour-constructor input[type=textarea], .tour-constructor input[type=tel], .tour-constructor input[type=email], .tour-constructor select {
    width: 100%;
    height: 43px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
  }
  .tour-constructor input[type=text]::-webkit-input-placeholder, .tour-constructor input[type=textarea]::-webkit-input-placeholder, .tour-constructor input[type=tel]::-webkit-input-placeholder, .tour-constructor input[type=email]::-webkit-input-placeholder, .tour-constructor select::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: #A6A6A6;
  }
  .tour-constructor input[type=text]::-moz-placeholder, .tour-constructor input[type=textarea]::-moz-placeholder, .tour-constructor input[type=tel]::-moz-placeholder, .tour-constructor input[type=email]::-moz-placeholder, .tour-constructor select::-moz-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: #A6A6A6;
  }
  .tour-constructor input[type=text]:-ms-input-placeholder, .tour-constructor input[type=textarea]:-ms-input-placeholder, .tour-constructor input[type=tel]:-ms-input-placeholder, .tour-constructor input[type=email]:-ms-input-placeholder, .tour-constructor select:-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: #A6A6A6;
  }
  .tour-constructor input[type=text]::-ms-input-placeholder, .tour-constructor input[type=textarea]::-ms-input-placeholder, .tour-constructor input[type=tel]::-ms-input-placeholder, .tour-constructor input[type=email]::-ms-input-placeholder, .tour-constructor select::-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: #A6A6A6;
  }
  .tour-constructor input[type=text]::placeholder, .tour-constructor input[type=textarea]::placeholder, .tour-constructor input[type=tel]::placeholder, .tour-constructor input[type=email]::placeholder, .tour-constructor select::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: #A6A6A6;
  }
  .tour-constructor input[type=text]:hover, .tour-constructor input[type=textarea]:hover, .tour-constructor input[type=tel]:hover, .tour-constructor input[type=email]:hover, .tour-constructor select:hover {
    background-color: #F4F0E9;
    cursor: pointer;
  }
  .tour-constructor .select select {
    height: 46px !important;
  }
  .tour-constructor .select::after {
    top: 14px;
    right: 13px;
  }
  .tour-constructor select {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: #A6A6A6;
  }
  .tour-constructor select > option {
    color: #1B1F2B;
  }
  .tour-constructor textarea {
    width: 100%;
    height: 132px;
    margin-bottom: -30px !important;
  }
  .tour-constructor .custom-radio-btn {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .tour-constructor .custom-radio-btn::before {
    width: 9.2px;
    height: 9.2px;
  }
  .tour-constructor .age-radio-btn > label:first-child {
    margin-right: 30px;
  }
  .tour-constructor .custom-check-btn {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .tour-constructor .custom-check-btn::before {
    width: 9px;
    left: 4px;
    bottom: 0;
  }
  .tour-constructor input[type=checkbox] {
    margin-bottom: 30px;
    float: left;
  }

  .age-radio-btn, .license-check-btn {
    margin-bottom: 30px;
  }

  .form-btn button:first-child {
    margin-right: 6px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #F9F7F4;
}

.container {
  position: relative;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 831px;
  width: 100%;
  background: #286562 url("/app/assets/img/header-img.jpg") no-repeat left top;
  background-size: cover;
}
.header p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: white;
  width: 562px;
  text-align: center;
  margin: 50px 0;
}

nav {
  width: 100%;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: white;
}
nav li {
  display: inline-block;
  margin-right: 50px;
  border-bottom: 1px solid transparent;
}
nav li:last-child {
  margin-right: 0;
}
nav li:hover {
  border-color: white;
  cursor: pointer;
}

.slogan {
  color: white;
  width: 768px;
  margin-top: 119px;
}

.choose-tour {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__head {
  margin-top: 135px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__head h2 {
  margin-bottom: 35px;
}
.section__head p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: #A6A6A6;
  text-align: center;
}

.tab li {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 122%;
  color: #1B1F2B;
  margin-right: 30px;
  border-bottom: 2px solid transparent;
}
.tab li:last-child {
  margin-right: 0;
}
.tab li:hover {
  border-color: #1B1F2B;
  cursor: pointer;
}
.tab li.current {
  color: #EFA501;
  border-color: #EFA501 !important;
  cursor: default !important;
}

.tour-card {
  position: relative;
  width: 270px;
  height: 431px;
  border-radius: 50px;
  background-repeat: no-repeat;
  padding: 50px;
  margin-bottom: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
.tour-card * {
  z-index: 3;
}
.tour-card::before {
  content: "";
  z-index: 1;
  position: absolute;
  border-radius: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #A6A6A6;
  background-image: inherit;
  background-repeat: no-repeat;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}
.tour-card::after {
  content: "";
  z-index: 2;
  position: absolute;
  border-radius: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(48.44%, rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}
.tour-card:hover {
  width: 290px;
  height: 441px;
  padding: 40px 40px 50px;
  cursor: pointer;
}
.tour-card:hover::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.tour-card:hover .text-bt {
  background-color: #286562;
  margin-left: -10px;
}

.text-container h3 {
  color: white;
}
.text-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: white;
  margin-top: 37px;
}
.text-container p.price {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #1B1F2B;
  color: white;
  margin-top: 16px;
}
.text-container ul {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: white;
  list-style-type: disc;
  margin-left: 32px;
}

.section__content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.make-tour {
  position: relative;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback {
  position: relative;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 673px;
  margin-right: 30px;
  padding: 40px;
  background-color: #F4F0E9;
  border-radius: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feedback-card:last-child {
  margin-right: 0;
}
.feedback-card p:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 122%;
  color: #1B1F2B;
}
.feedback-card .avatar {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.feedback-card .author__name {
  margin-bottom: 8px;
}
.feedback-card .author {
  position: relative;
}

.gallery {
  position: relative;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery .container {
  width: 100%;
  padding: 0;
}

.gallery__content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  margin-bottom: -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__card {
  background-image: inherit;
  background-size: cover;
  width: calc(20% - 30px);
  height: 300px;
  border-radius: 50px;
  margin: 0 15px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.gallery__card:nth-child(9n+1), .gallery__card:nth-child(9n+2), .gallery__card:nth-child(9n+3), .gallery__card:nth-child(9n+4) {
  width: calc(25% - 30px);
}
.gallery__card img {
  width: 100%;
  height: 100%;
}

.stories {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stories .text-container {
  max-width: 554px;
}

.story-card {
  position: relative;
  width: calc(100%-30px);
  height: 567px;
  border-radius: 50px;
  background-repeat: no-repeat;
  padding: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  margin-bottom: 50px;
}
.story-card * {
  z-index: 3;
}
.story-card:last-child {
  margin-bottom: 0;
}
.story-card::before {
  content: "";
  z-index: 1;
  position: absolute;
  border-radius: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #A6A6A6;
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}
.story-card::after {
  content: "";
  z-index: 2;
  position: absolute;
  border-radius: 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(0.01%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
}
.story-card:hover {
  cursor: pointer;
}
.story-card:hover::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.story-card:hover .text-bt {
  background-color: #286562;
  margin-left: -10px;
}

.story-card__footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials {
  -ms-flex-item-align: center;
      align-self: center;
}
.socials a {
  margin-right: 35px;
}
.socials a:last-child {
  margin-right: 0;
}

.sta {
  margin: 135px 0;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sta .sta__img {
  border-radius: 50px;
  width: 370px;
  height: 370px;
}
.sta .section__content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sta .sta-txt {
  width: 370px;
  margin-left: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sta .note {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: #A6A6A6;
  margin-top: 20px;
}

footer {
  display: block;
  width: 100%;
  background-color: #F4F0E9;
  height: 88px;
}
footer .section__content {
  height: 88px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  color: #A6A6A6;
}
footer .socials-bt {
  color: #1B1F2B;
  margin-right: 25px;
}
footer .socials-bt:last-child {
  margin-right: 0;
}
footer .socials-bt img {
  margin-right: 10px;
  vertical-align: top;
}

.footer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 918px;
    padding-left: 9px;
    padding-right: 9px;
  }

  nav li {
    margin-right: 30px;
  }

  .header p {
    width: 442px;
  }

  .tour-card {
    width: 350px;
    margin-bottom: 18px;
  }
  .tour-card::before {
    background-size: 450px, auto;
    background-position: center;
  }

  .section__content {
    margin-bottom: -18px;
  }

  .make-tour {
    position: relative;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .feedback-card {
    height: 841px;
    margin-right: 18px;
    padding: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .feedback-card:last-child {
    margin-right: 0;
  }

  .gallery__content {
    padding: 0 10px;
  }

  .gallery__card {
    width: calc(25% - 20px);
    margin: 0 10px 30px;
    background-position: center;
  }
  .gallery__card:nth-child(7n+1), .gallery__card:nth-child(7n+2), .gallery__card:nth-child(7n+3) {
    width: calc(33.33% - 20px);
  }
  .gallery__card:nth-child(n+11) {
    display: none;
  }

  .story-card::before {
    background-size: cover;
    background-position: right bottom;
  }

  .story-card__footer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .socials {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .socials a {
    margin-right: 35px;
  }
  .socials a:last-child {
    margin-right: 0;
  }

  .sta {
    margin: 135px 0;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sta .sta__img {
    border-radius: 50px;
  }
  .sta .section__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sta .sta-txt {
    width: 370px;
    margin-left: 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sta .note {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 142%;
    color: #1B1F2B;
    color: #A6A6A6;
    margin-top: 20px;
  }

  footer {
    display: block;
    width: 100%;
    background-color: #F4F0E9;
    height: 88px;
  }
  footer .section__content {
    height: 88px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 142%;
    color: #1B1F2B;
    color: #A6A6A6;
  }
  footer .socials-bt {
    color: #1B1F2B;
    margin-right: 25px;
  }
  footer .socials-bt:last-child {
    margin-right: 0;
  }
  footer .socials-bt img {
    margin-right: 10px;
    vertical-align: top;
  }

  .footer {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 460px) {
  .container {
    width: 318px;
    padding-left: 9px;
    padding-right: 9px;
  }

  .header {
    height: 488px;
    background: #286562 url("/app/assets/img/header-img2.jpg") no-repeat left top;
    background-size: cover;
    background-position: center;
  }
  .header p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: white;
    max-width: 310px;
    margin: 40px 0;
  }

  nav {
    width: 100%;
    height: 88px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: white;
  }
  nav ul {
    display: none;
  }
  nav .logo img {
    max-width: 133px;
  }

  .slogan {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: #1B1F2B;
    color: white;
    max-width: 250px;
    margin-top: 52px;
  }

  .choose-tour {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section__head {
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .section__head h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: #1B1F2B;
    margin-bottom: 30px;
  }
  .section__head p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: #A6A6A6;
    text-align: center;
  }

  .tab {
    text-align: center;
  }
  .tab li {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    margin-right: 10px;
  }
  .tab li:last-child {
    margin-right: 0;
  }
  .tab li.current {
    color: #EFA501;
    border-color: #EFA501 !important;
    cursor: default !important;
  }

  .tour-card {
    position: relative;
    width: 268px;
    height: 268px;
    padding: 25px;
    margin-bottom: 18px;
    border-radius: 20px;
  }
  .tour-card::before {
    content: "";
    z-index: 1;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #A6A6A6;
    background-image: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transition: all ease 300ms;
    transition: all ease 300ms;
  }
  .tour-card::after {
    content: "";
    z-index: 2;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(48.44%, rgba(0, 0, 0, 0.06)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  }
  .tour-card:hover {
    width: 290px;
    height: 441px;
    padding: 40px 40px 50px;
    cursor: pointer;
  }
  .tour-card:hover::before {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .tour-card:hover .text-bt {
    background-color: #286562;
    margin-left: -10px;
  }

  .text-container h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #1B1F2B;
    color: white;
  }
  .text-container p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: white;
    margin-top: 37px;
  }
  .text-container p.price {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #1B1F2B;
    color: white;
    margin-top: 13px;
  }
  .text-container ul {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 142%;
    color: #1B1F2B;
    color: white;
    list-style-type: disc;
    margin-left: 32px;
  }

  .section__content {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -30px;
  }

  .flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .feedback-card {
    margin-right: 0;
    padding: 20px;
    border-radius: 20px;
    height: auto;
    margin-bottom: 18px;
  }
  .feedback-card:last-child {
    margin-bottom: 0;
  }
  .feedback-card p:first-child {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
  }
  .feedback-card .avatar {
    position: absolute;
    top: -16px;
    right: 0px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
  .feedback-card h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #1B1F2B;
  }
  .feedback-card .author__name {
    margin-bottom: 8px;
  }
  .feedback-card .author {
    margin-top: 56px;
  }
  .feedback-card .author note {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #1B1F2B;
  }

  .gallery {
    position: relative;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery .container {
    width: 336px;
  }

  .gallery__content {
    margin-left: -9px;
    padding-left: -9px;
    margin-bottom: -18px;
  }

  .gallery__card {
    background-image: inherit;
    background-size: cover;
    width: calc(33.3%-10px);
    height: 110px;
    border-radius: 20px;
    margin: 0 5px 18px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .gallery__card:nth-child(5n+1), .gallery__card:nth-child(5n+2) {
    width: calc(50% - 10px);
  }
  .gallery__card:nth-child(8), .gallery__card:nth-child(9), .gallery__card:nth-child(10) {
    display: none;
  }

  .stories .text-container {
    max-width: 263px;
  }

  .story-card {
    width: 100%;
    height: 455px;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
  }
  .story-card:last-child {
    margin-bottom: 0;
  }
  .story-card::before {
    border-radius: 20px;
    background-size: cover;
    background-position: bottom center;
  }
  .story-card::after {
    border-radius: 20px;
  }
  .story-card h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #1B1F2B;
    color: white;
  }
  .story-card p, .story-card ul {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: white;
  }
  .story-card .socials {
    display: none;
  }

  .sta {
    margin: 105px 0 75px;
  }
  .sta .sta__img {
    border-radius: 20px;
    width: 130px;
    height: 130px;
  }
  .sta .sta-txt {
    text-align: center;
    max-width: 291px;
    margin-top: 30px;
    margin-left: 0;
  }
  .sta .sta-txt h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #1B1F2B;
  }
  .sta .note {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: #A6A6A6;
    margin-top: 20px;
  }

  footer {
    height: 95px;
  }
  footer .section__content {
    width: 100%;
    height: 53px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    padding: 21px;
  }
  footer .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 142%;
    color: #1B1F2B;
    color: #A6A6A6;
  }
  footer .socials-bt {
    color: #1B1F2B;
    margin-right: 10px;
  }
  footer .socials-bt:last-child {
    margin-right: 0;
  }
  footer .socials-bt img {
    margin-right: 5px;
    vertical-align: bottom;
  }

  .footer__socials {
    margin-left: -15px;
  }
}/*# sourceMappingURL=style.css.map */